@page "/Products/Create"
@using Shared.Model
@inject HttpClient httpClient
@inject NavigationManager navigator

<h3>Add Products</h3>
<div class="row">
    <div class="col-4">
        <div class="form-group mb-3">
            <label>Name Product:</label>
            <input type="text" class="form-control shadow" id="name" @bind-value="@producto.ProductName" />
        </div>
        <div class="form-group mb-3">
            <label>Price:</label>
            <input type="text" class="form-control shadow" id="price" @bind-value="@producto.Price" />
        </div>
        <div class="form-group mb-3">
            <label>Category:</label>
            <input type="text" class="form-control shadow" id="category" @bind-value="@producto.Category" />
        </div>
        <div class="form-group mb-3">
            <label>Quantity:</label>
            <input type="text" class="form-control shadow" id="quantity" @bind-value="@producto.Quantity" />
        </div>
        <div class="form-group mb-3">
            <label>Location:</label>
            <input type="text" class="form-control shadow" id="location" @bind-value="@producto.Location" />
        </div>
        <div style="margin-top:30px;">
            <button class="btn btn-primary" @onclick="SaveProducts">Save Product</button>
            <button class="btn btn-primary">Return Main</button>
        </div>
    </div>
</div>



@code {

    public Product producto { get; set; } = new();

    public async Task SaveProducts()
    {
        using (httpClient = new())
        {
            var url = $"http://192.168.10.13:8080/api/products/AddProducts";
            httpClient.DefaultRequestHeaders.Accept.Clear();
            try
            {
                var response = await httpClient.PostAsJsonAsync<Product>(url, producto);
                if (response.IsSuccessStatusCode)
                {
                    var result = await response.Content.ReadAsStringAsync();
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine($"error : {ex.Message}");
            }
            navigator.NavigateTo("../Products/Index");
        }

    }






}
